body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
em, i, q, cite, address,var { font-style:normal; }

a { color:#369; text-decoration:none; }
a:hover { text-decoration:none; color:#fff; background-color:#369; }

.label a { color: #fff; text-decoration: none;}
.label a:hover { text-decoration: none; color: #FFF; }

body {
  position: relative;
  padding-top: 50px;
  min-width:1024px;
}

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}



/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

.intro {line-height:22px;margin-top:10px;}
.intro strong{color:#f1b000;margin-right:10px;}
.intro b{margin-right:10px;vertical-align:middle;margin-bottom:3px;}
.intro em{color:#303030;margin-right:5px;}

/* ---------------------------------------------------------------------- */
/*	Property Listing
/* ---------------------------------------------------------------------- */

.listing .container-fluid {
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
}

.listing .row-fluid {
	border-bottom: 1px solid #E8E8E8;
	margin-top: 5px;
}

.listing .row-fluid:hover,#renting-map-js>div:hover {
	border-bottom-color: #C24F19;
}

.row-fluid.appartment-listing {
	border-bottom: none;
}

.row-fluid.appartment-listing>.span6 {
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 0;
	padding-top: 0;
}

.latest-listing {
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
}

.listing .container-fluid img {
	border: 3px solid #FFF;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.listing select {
	width: 100%;
	height: 30px;
	margin-top: -7px;
}

.pagination {
	margin: 20px 0 0;
}

.listing #google-map-js {
	margin-top: 6px;
}

#renting-map-js>div:nth-child(odd) {
	margin-left: 0;
}

#renting-map-js>div {
	border-bottom: 1px solid #FFF;
	margin-bottom: 20px;
	display: block;
}

#renting-map-js p.street,#renting-map-js p.lat,#renting-map-js p.lng {
	display: none;
}

#side-section  {}
#side-section .module-top {margin-top:15px;-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-topright: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px;height: 20px;background: #52B8EB;color: white;padding: 5px 13px 7px 13px;font-size: 12px;font-weight: 500;}
#side-section .module-top i { padding-right:10px;}
#side-section .error input {border: 1px solid #FFA0A0;}
#side-section .module {border: 1px solid whiteSmoke;padding: 15px;background: #FCFCFC;margin:  0px;}
#side-section .module span {font-size: 11px;}
#side-section .module .w-input { box-sizing: border-box;
width: 100%;}

#side-section .module .label-main {font-weight: 600;font-size: 12px;}
#side-section  .nav-list {
padding-right: 15px;
padding-left: 15px;
margin-bottom: 0;
border: 1px solid #EEE;
border-radius: 4px;}
