.messagebox-header {
    background-color: #fff;
    background-image: -webkit-linear-gradient(top,#fff,#f5f5f5);
    background-image: linear-gradient(top,#fff,#f5f5f5);
    height: 35px;
    padding: 0 15px;
    vertical-align: middle;
}

.messagebox-header-viewall {
    color: #777;
    font-size: 13px;
    font-weight: bold;
    float: left;
    line-height: 35px;
    max-height: 35px;
}

.messagebox-row {
    border-top: 1px solid #d0d0d0;
    cursor: pointer;
    padding: 12px 12px 12px 5px;
    outline: none;
    background: #f0f0f0;
    color: #666;
}

.messagebox-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777;
    font-size: 13px;
    height: 17px;
    margin: 0 0 12px 0;
    width: 376px;
    overflow: hidden;
}

.messagebox-avatar {
    display: inline-block;
    float: left;
    margin: 0 12px 0 0;
    vertical-align: middle;
    height: 48px;
    width: 48px;
    color: #777;
}

.messagebox-avatar-img {
    border: 1px solid #444;
    height: 42px;
    width: 42px;
    position: relative;
    margin: 0;
    z-index: 1;
    border-radius: 4px;
}

.messagebox-avatar-img1 {
    color: #777;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    height: 42px;
    width: 42px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    background: #bebebe;
    border: 1px solid #888;
    top: 4px;
    left: 4px;
}

.messagebox-avatar-img2 {
    color: #777;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    height: 42px;
    width: 42px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    background: #e0e0e0;
    border: 1px solid #888;
    top: 2px;
    left: 2px;
}

.messagebox-content {
    display: table-cell;
    height: 48px;
    line-height: 16px;
    overflow: hidden;
    padding: 0 0;
    vertical-align: middle;
    width: auto;
}
.messagebox-leftbtn {
    background-position: -80px 0;
    display: inline-block;
    margin: 13px 2px 0 2px;
    height: 7px;
    vertical-align: middle;
    visibility: hidden;
    width: 7px;
    float: left;
}

.messagebox-rightbtn {
    background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/nots-01f32c4591432178f7d86fb1c49cf421.png) -105px 0;
    width: 9px;
    height: 15px;
}