.postkit-wrapper {
    position:absolute;
    border: 1px solid #CCC;
    border-width: 1px;
    border-radius: 3px;
    background-color:#fff;
    padding: 10px;
    z-index: 1041;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.postkit-arrow-top {
    position: absolute;
    width: 0;
    height: 0;
    border: 1px;
    border-color: transparent;
    border-style: solid;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-bottom-color: #CCC;
    border-width: 0 10px 10px;
}

.postkit-arrow-top-inner {
    position: absolute;
    width: 0;
    height: 0;
    border: 1px;
    border-color: transparent;
    border-style: solid;
    top: 2px;
    margin-left: -8px;
    border-bottom-color: #fff;
    border-width: 0 8px 8px;
}

.postkit-content {

}

.postkit-message-main {
    min-height: 60px;
    margin: 4px 4px 2px 4px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 25px;
    outline: 0;
    border: 1px solid #c4c4c4;
    font-size: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
}

.postkit-message {
    min-height: 60px;
    margin: 4px 4px 2px 4px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    outline: 0;
    font-size: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.postkit-message p{
    margin: 0;
}

.postkit-toolsbody {
    text-align: right;
    margin:5px 4px 5px 4px;
    padding:1px 1px 1px 1px;
    overflow-x: hidden;
    overflow-y: hidden;
}

[class^="postkit-tool-"],
[class*=" postkit-tool-"] {
    width: 18px;
    height: 14px;
    margin-right: 4px;
    line-height: 14px;
    display: inline-block;
    vertical-align: text-top;
    background-repeat: no-repeat;
}

.postkit-tool-photo {
    background-image: url("/assets/images/photoOut.png");
}

.uploadify {
    float: right;
}

.uploadify:hover .uploadify-button {
    background-image: url("/assets/images/photoIn.png");
    cursor: pointer;
}

.uploadify:active .uploadify-button {
    background-image: url("/assets/images/photoIn.png");
    cursor: pointer;
}

.postkit-tool-photo:active {
    background-image: url("/assets/images/photoIn.png");
    cursor: pointer;
}

.postkit-tool-photo:hover {
    background-image: url("/assets/images/photoIn.png");
    cursor: pointer;
}

.postkit-footer {
    margin:5px 4px 5px 4px;
    padding:1px 1px 1px 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
}

.postkit-partic-body {
    margin:5px 4px 5px 4px;
}

.postkit-partic-content {
    height: 16px;
    margin: 4px 50px 5px 4px;
    padding: 7px 20px 7px 5px;
    outline: 0;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
    font-size: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    cursor: pointer;
}
[class^="postkit-partic-addicon"],
[class*=" postkit-partic-addicon"] {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 0px;
    margin-right: 4px;
}

.postkit-partic-addicon {
    background-image: url("/assets/images/addPeopleOut.png");
}

.postkit-partic-addicon:active {
    background-image: url("/assets/images/addPeopleIn.png");
    cursor: pointer;
}

.postkit-partic-addicon:hover {
    background-image: url("/assets/images/addPeopleIn.png");
    cursor: pointer;
}

