
@styles ={
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/community.css")">
}

@scripts = {
  <script src="@routes.Assets.at("javascripts/sorting.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery.imagesloaded.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery.isotope.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/community.js")" type="text/javascript"></script>
}

@main(Messages("communites"), null, styles, scripts) {
	
	<div id="createCommunity" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createCommunityLabel" aria-hidden="true">
		<div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h3 id="createCommunityLabel">@Messages("community.style.select")</h3>
	    </div>
	    <div class="modal-body">
			<div class="row-fluid">
				<div class="span6">
					<div class="well well-small" id="create-public-community">
						<h4>@Messages("create", Messages("community.public"))</h4>
						<p>@Messages("community.public.description")</p>
						<form id="form-public-community" class="hide">
							<input type="text" id="input-public-community"/>
						</form>
					</div>
				</div>
				<div class="span6">
					<div class="well well-small" id="create-private-community">
						<h4>@Messages("create", Messages("community.private"))</h4>
						<p>@Messages("community.private.description")</p>
						<form id="form-private-community" class="hide">
							<input type="text" id="input-private-community"/>
						</form>
					</div>
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
	    	<button class="btn-u" data-dismiss="modal">@Messages("close")</button>
	        <button class="btn-u btn-u-orange">@Messages("save")</button>
	    </div>
	</div>
	
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h3 class="color-green pull-left">@Messages("communites")&nbsp;&nbsp;<button class="btn-u btn-u-blue" id="add-community" data-toggle="modal" href="#createCommunity">@Messages("create", Messages("community"))</button></h3> 
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">@Messages("community")</a> <span class="divider">/</span></li>
                <li class="active">@Messages("index")</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container-fluid">
        <div class="row">
            <div class="span9">
                <div class="row" id="portfolio-wrapper">
            <div class="span3 portfolio-item nature people">
                    <div class="picture">
                        <a href="project.html" title="Title">
                            <img src="@routes.Assets.at("images/communites/logo/android.jpg")" alt=""/>
                            <div class="image-overlay-link"></div>
                        </a>
                        <div class="item-description alt">
                            <h5><a href="project.html">Project no. 1</a></h5>
                            <p>
                                Lorem ipsum .
                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                    </div>  
                </div>
                <div class="span3 portfolio-item nature people">
                    <div class="picture">
                        <a href="project.html" title="Title">
                            <img src="@routes.Assets.at("images/communites/logo/android.jpg")" alt=""/>
                            <div class="image-overlay-link"></div>
                        </a>
                        <div class="item-description alt">
                            <h5><a href="project.html">Project no. 1</a></h5>
                            <p>
                                Lorem ipsum dolor swisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                    </div>  
                </div>
                <div class="span3 portfolio-item nature people">
                    <div class="picture">
                        <a href="project.html" title="Title">
                            <img src="@routes.Assets.at("images/communites/logo/html.jpg")" alt=""/>
                            <div class="image-overlay-link"></div>
                        </a>
                        <div class="item-description alt">
                            <h5><a href="project.html">Project no. 1</a></h5>
                            <p>
                                Lorem ipsum consequat.
                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                    </div>  
                </div>
                <div class="span3 portfolio-item nature people">
                    <div class="picture">
                        <a href="project.html" title="Title">
                            <img src="@routes.Assets.at("images/communites/logo/cloud.jpg")" alt=""/>
                            <div class="image-overlay-link"></div>
                        </a>
                        <div class="item-description alt">
                            <h5><a href="project.html">Project no. 1</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                    </div>  
                </div>
                <div class="span3 portfolio-item nature people">
                    <div class="picture">
                        <a href="project.html" title="Title">
                            <img src="@routes.Assets.at("images/communites/logo/html.jpg")" alt=""/>
                            <div class="image-overlay-link"></div>
                        </a>
                        <div class="item-description alt">
                            <h5><a href="project.html">Project no. 1</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                    </div>  
                </div>
                <div class="span3 portfolio-item nature people">
                    <div class="picture">
                        <a href="project.html" title="Title">
                            <img src="@routes.Assets.at("images/communites/logo/android.jpg")" alt=""/>
                            <div class="image-overlay-link"></div>
                        </a>
                        <div class="item-description alt">
                            <h5><a href="project.html">Project no. 1</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                    </div>  
                </div>
                <div class="span3 portfolio-item nature people">
                    <div class="picture">
                        <a href="project.html" title="Title">
                            <img src="@routes.Assets.at("images/communites/logo/android.jpg")" alt=""/>
                            <div class="image-overlay-link"></div>
                        </a>
                        <div class="item-description alt">
                            <h5><a href="project.html">Project no. 1</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                    </div>  
                </div>
                <div class="span3 portfolio-item nature people">
                    <div class="picture">
                        <a href="project.html" title="Title">
                            <img src="@routes.Assets.at("images/communites/logo/android.jpg")" alt=""/>
                            <div class="image-overlay-link"></div>
                        </a>
                        <div class="item-description alt">
                            <h5><a href="project.html">Project no. 1</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="post-meta"><span><i class="mini-ico-calendar"></i>1 June 2011</span> <span><i class="mini-ico-user"></i> <a href="#">lucas</a></span> <span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span></div>
                    </div>  
                </div>
            </div>
            </div>
            <div class="span3">
            </div>
        </div>
        
        </div>
}
<script type="text/javascript">
jQuery(document).ready(function($) {
    
    $('#portfolio-wrapper').imagesLoaded(function() {
        
        var $container = $('#portfolio-wrapper');
            $select = $('#filters select');

        // initialize Isotope
        $container.isotope({
        // options...
        resizable: false, // disable normal resizing
        // set columnWidth to a percentage of container width
        masonry: { columnWidth: $container.width() / 12 }
        });

        // update columnWidth on window resize
        $(window).smartresize(function(){
        
            $container.isotope({
            // update columnWidth to a percentage of container width
            masonry: { columnWidth: $container.width() / 12 }
            });
        });


        $container.isotope({
            itemSelector : '.portfolio-item'
        });

        $select.change(function() {
            
            var filters = $(this).val();

                $container.isotope({
                    filter: filters
                });
            
            });

            var $optionSets = $('#filters .option-set'),
            $optionLinks = $optionSets.find('a');

            $optionLinks.click(function(){
            
                var $this = $(this);
                // don't proceed if already selected
                if ( $this.hasClass('selected') ) {
                    return false;
                }
            var $optionSet = $this.parents('.option-set');
            $optionSet.find('.selected').removeClass('selected');
            $this.addClass('selected');

            // make option object dynamically, i.e. { filter: '.my-filter-class' }
            var options = {},
                key = $optionSet.attr('data-option-key'),
                value = $this.attr('data-option-value');
            // parse 'false' as false boolean
            value = value === 'false' ? false : value;
            options[ key ] = value;
            if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
              // changes in layout modes need extra logic
              changeLayoutMode( $this, options )
            } else {
              // otherwise, apply new options
              $container.isotope( options );
            }

            return false;
            
          });
        
    });
    
});
</script>