@(post:Post)
@import org.bson.types.ObjectId
@commentItems(comments:Seq[Comment]) = {
    @for(c <- comments) {
        @views.html.post.comment(c)
    }
}
@author = @{User.findOneById(post.author).get}
@photos = @{Photo.findBySource(post.id)}
<div class="row-fluid post-row" uid="@post.id">
    <div class="span4">
        <div class="post row-fluid">
            <i class="post-option"></i>
            <div class="post-avatar"><img class="avatar-icon" uid="@(post.author)" src="@routes.Assets.at("images/avatar_small.png")"></img></div>
            <div class="post-arrow-left"><div class="post-arrow-left-inner"></div></div>
            <div class="post-header row-fluid">
                <span class="post-header-author">@(User.findOneById(post.author).get.name)</span>
                <span class="post-header-status">@post.create_at</span>
                <span class="post-header-status divider">-</span>
                <span class="post-header-status">公开</span>
                @if(author.name == "admin"){
                    <span class="post-header-status pull-right post-delbtn">&times;</span>
                }
            </div>
            <div class="post-body row-fluid">
                <div class="post-title"></div>
                <div class="post-content">
                    <div class="post-message">

                            @if(post.content.length()>200){
                                <div class="post-message-min">
                                    <p>
                                        @post.content.substring(0,200)...
                                    </p>
                                    <span class="post-message-expand">展开此信息</span>
                                </div>
                                <div class="post-message-max hide">
                                    <p>
                                        @post.content
                                    </p>
                                    <span class="post-message-collapse">收拢此信息</span>
                                </div>
                            }else{
                                <p>
                                    @post.content
                                </p>
                            }

                    </div>
                    @if(!photos.isEmpty){
                        <div class="post-photo" >
                            <img src="@photos.head.path" style="max-height: 400px"/>
                        </div>
                    }
                </div>
            </div>
            <div class="post-footer row-fluid">
            </div>
        </div>
        <div class="comments row-fluid">
            <div class="row-fluid comments-more @(" hide".when(Comment.findByPost(post.id).size<3))">
                <div class="span2" style="font-weight:bold"><span class="comments-num">@{Comment.findByPost(post.id).size}</span>条评论</div>
            </div>
            <div class="row-fluid comments-hidemore hide">
                <div class="span2" style="font-weight:bold">隐藏评论</div>
            </div>
            <div class="comments-list row-fluid">
                @commentItems(Comment.findByPost(post.id).sortBy(_.create_at).takeRight(3))
            </div>
            <div class="post-inputable comments-new-noinput row-fluid" contenteditable="plaintext-only">添加评论...</div>
            <div class="comments-new-section row-fluid hide">
                <div class="row-fluid">
                    <div class="span2" style="margin:2px 0 0 0">@views.html.post.avatar(User.findSample.id,"images/avatar_mini.png")</div>
                    <div class="span10 post-inputable comments-new-input"  style="margin-left: -12px" contenteditable="plaintext-only"></div>
                </div>
                <div class="comments-new-btns row-fluid pull-left">
                    <a class="btn btn-success btn-mini comment-addbtn disabled" post="@post.id">发表评论</a>
                    <a class="btn btn-mini comment-cancelbtn">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>
