@(uid:String)
<div class="postkit-message-main">
    <div id="@{uid}_closebtn" type="button" class="close pull-right postkit-closebtn" >&times;</div>
    <div id="@{uid}_message" class="postkit-message" contenteditable="plaintext-only" ></div>
</div>
<div class="postkit-toolsbody">
    <input type="file" name="pic" id="@{uid}_uploadify"/>
    <div id="@{uid}_progressbar" class="progress progress-striped active hide pull-right postkit-progressbar">
        <div class="bar" style="width: 0%;"></div>
    </div>
    <div id="@{uid}_picContainer" class="picContainer"></div>
</div>
<div class="postkit-footer">
    <a id="@{uid}_sharebtn" class="btn btn-success disabled">Share</a>
</div>
<script>
    var uid = '@{uid}';
    var shareBtn = $('#'+uid+'_sharebtn');
    var closeBtn = $('#'+uid+'_closebtn');
    var postMessage = $('#'+uid+'_message');
    var picContainer = $('#'+uid+'_picContainer');
    var $el = $('#'+uid);
    var tmpFiles = [];
    closeBtn.click(function(){
        if(tmpFiles.length > 0){
        var params = {};
        params["tmpfiles"] = tmpFiles;
        $.post('/posts/deleteTmpFiles',params);
            tmpFiles = [];
        }
        postMessage.empty();
        picContainer.empty();
        $el.hide();
        shareBtn.addClass('disabled');
    });
    postMessage.on('keydown paste',function(){
        setTimeout(function() {
            if(postMessage.text().length > 0){
                shareBtn.removeClass('disabled');
            }else{
                shareBtn.addClass('disabled');
            }
        },100);
    });

    shareBtn.click(function(){
        if(!shareBtn.hasClass('disabled')){
            var postContent = $('#'+uid+'_message');
            var content = postContent.html();
            var params = {};
            params["content"] = content;
            params["raw"] = postContent.text();
            params["tmpfiles"] = tmpFiles;
            $.post('/posts/create',params,function(data){
                $('#post-list').prepend(data);
                var newPost = $('#post-list:first');
                photoInitHeightHandler(newPost.find('.post-photo'));
                avatarHoverHandler(newPost.find('.avatar-icon'));
                postOptionClickHandler(newPost.find('.post-option'),postOptionModal);
                postHoverHandler(newPost.find('.post-row'));
                postDelBtnClickHandler(newPost.find('.post-delbtn'));
                postExpandBtnClickHandler(newPost.find('.post-message-min'));
                commentNewInputKeydownHandler(newPost.find('.comments-newinput-text'));
                commentNoInputClickHandler(newPost.find('.comments-noinput-text'));
                commentAddBtnClickHandler(newPost.find('.comment-addbtn'));
                commentCancelBtnClickHandler(newPost.find('.comment-cancelbtn'));
                $('#'+uid+'_picContainer').empty();
                tmpFiles = [];
                postContent.empty();
                $el.hide();
            });
        }
    });

    var picProgressBar = $('#'+uid+'_progressbar');
    var picBtn = $('#'+uid+'_uploadify');
    picBtn.ready(function(){
        picBtn.uploadify({
            swf: '/assets/img/uploadify.swf',
            uploader: '/posts/uploadify',
            buttonClass: 'postkit-tool-photo',
            width: 18,
            height: 18,
            buttonText: '',
            method: 'post',
            auto: true,
            fileTypeDesc : 'Image Files',
            fileTypeExts : '*.gif; *.jpg; *.png',
            multi: false,
            overrideEvents : ['onSelect'],
            onUploadStart: function(){
                picProgressBar.show();
            },
            onUploadError: function(){
                setTimeout(picProgressBar.hide(),2000);
            },
            onUploadProgress: function(file,bytesUploaded,bytesTotal,totalBytesUploaded,totalBytesTotal){
                bar.css('width',bytesUploaded/bytesTotal*100+'%');
                bar.text((bytesTotal/1024).toFixed(2)+' KB');
            },
            onUploadSuccess : function(file, data, response){
                tmpFiles.push(data);
                var img = $('<img src="'+data+'" style="max-width:400px;"/>');
                setTimeout(function(){
                    picProgressBar.hide();
                    picContainer.append(img)
                    return false;
                },2000);
                return false;
            }
        });
    });

</script>
