@(post:Post)
@import org.bson.types.ObjectId
@commentItems(comments:Seq[Comment]) = {
    @for(c <- comments) {
        @views.html.post.comment(c)
    }
}
@author = @{User.findOneById(post.author).get}
@photos = @{Photo.findByPost(post.id)}

<div class="post-row" uid="@post.id">
    <div class="post">
        <span class="post-option">
        </span>
        <div class="post-avatar">@views.html.post.avatar(post.author)</div>
        <div class="post-arrow"></div>
        <div class="post-header">
            <span><a class="post-author">@(User.findOneById(post.author).get.name)</a></span>
            <span class="post-status">
                <span>@post.create_at</span>
                    &nbsp;-&nbsp;
                <span>公开</span>
            </span>
        </div>
        <div class="post-body">
            <div class="post-message">
                @if(post.content.length()>200){
                    <div class="post-message-min">
                        <div style="max-height: 72px;">
                            @Html(post.content)
                        </div>
                        <span class="post-message-expand">展开此信息</span>
                    </div>
                    <div class="post-message-max hide">
                        <div>
                            @Html(post.content)
                        </div>
                        <span class="post-message-collapse">收拢此信息</span>
                    </div>
                }else{
                    <p>
                        @Html(post.content)
                    </p>
                }
            </div>
            @if(post.is_reshare){
                @views.html.post.reshare(Post.findParent(post.id).get)
            }
            @if(!photos.isEmpty){
                <div class="post-photos" >
                    <div class="post-photo" >
                        <img src="@photos.head.path"/>
                    </div>
                    <div class="post-photo-bt post-photo-tb"></div>
                    <div class="post-photo-bt post-photo-bb"></div>
                    <div class="post-photo-lr post-photo-lb"></div>
                    <div class="post-photo-lr post-photo-rb"></div>
                </div>
            }
        </div>
        <div class="post-footer">
            <div class="post-actionbtn"><span><i class="icon-heart"></i></span></div>
            <div class="post-actionbtn"><span><i class="icon-share-alt"></i></span></div>
            <div class="post-actiondetail">
                <div class="like-avatar @("hide".when(!Like.exists(post.id)(User.findSample)))">
                    <img src="@routes.Assets.at("images/avatar_mini.png")"></img>
                </div>
                <div class="post-totalnum post-resharenum">
                    <i class="icon-share-alt"></i> 1
                </div>
                <span class="post-totalnum post-likenum">
                    <i class="icon-heart"></i> 8
                </span>
            </div>
        </div>
    </div>
    <div class="comments">
        <div style="padding-bottom: 18px;"></div>
        <div class="comments-body">
            <div class="comments-showall @("hide".when(Comment.findByPost(post.id).size<4))">
                <div class="comment-num-border">
                    <span class="comments-num-btn comments-num-show">
                        <span class="comments-num">@{Comment.findByPost(post.id).size}</span>
                        <span>条评论</span>
                    </span>
                    <span class="comments-num-btn comments-num-hide hide">隐藏评论</span>
                </div>
            </div>
            <div class="comments-list">
                @commentItems(Comment.findByPost(post.id).sortBy(_.create_at).takeRight(3))
            </div>
            <div class="comments-newinput-section hide">
                <div class="comment-avatar">@views.html.post.avatar(User.findSample.id,"images/avatar_mini.png")</div>
                <div class="comments-newinput">
                    <div>
                        <div class="comments-newinput-text" contenteditable="plaintext-only"></div>
                    </div>
                </div>
                <span class="comments-btngroup">
                    <a class="btn btn-success btn-mini comment-addbtn disabled" post="@post.id">发表评论</a>
                    <a class="btn btn-mini comment-cancelbtn">取消</a>
                </span>
            </div>
        </div>
        <div class="comments-noinput-section">
            <div class="comments-noinput-text">添加评论...</div>
        </div>
    </div>

</div>