@(title:String,displays:Seq[User])
<div class="listpanel">
    <div class="listpanel-header">
        <span class="listpanel-header-title">@title</span>
        <span class="listpanel-header-viewall">查看全部</span>
    </div>
    <div class="listpanel-list">
        <ul>
            @for(i <- 0 until displays.size){
                <li rowindex="@i">
                    <div class="listpanel-row">
                        <div class="listpanel-row-body">
                            <div class="listpanel-row-avatar">@views.html.post.avatar(displays(i).identityId,"images/avatar_mini.png")</div>
                            <div class="listpanel-row-content">
                                <span class="listpanel-row-title"><a>@displays(i).name</a></span>
                                <div class="listpanel-row-text">个性签名就名就是拽...</div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-small">查看</a>
                        </div>
                    </div>
                    <div style="clear: left;"></div>
                </li>
            }
        </ul>
    </div>
</div>