@(courtList: List[TCourt])

@main(Messages("court")) {

<div class="span9 listing">

	<div id="breadcrumb">
		<ul class="breadcrumb">
		  <li><a href="#">北京</a> <span class="divider">/</span></li>
		  <li class="active">场地资讯</li>
		</ul>
	</div>

	<!-- page title with dropdown -->
	<!-- end page title -->

	<!--start list-->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<a href="@routes.Court.view(1)"><img src="@routes.Assets.at("images/court.demo.jpeg")"
					alt="北京理工大学篮球场" /></a>
			</div>
			<div class="span9">
				<div>
					<p><a href="@routes.Court.view(1)" class="title">北京理工大学篮球场</a></p>
				</div>
				<div>
					<div class="clear">
						<input class="star {split:4} required" type="radio" name="court-rating" disabled="disabled" value="1"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="2"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="3"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="4"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="5"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="6"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="7"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="8"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="9"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="10"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="11" checked="checked"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="12"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="13"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="14"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="15"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="16"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="17"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="18"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="19"/>
					    <input class="star {split:4}" type="radio" name="court-rating" disabled="disabled" value="20"/>
					</div>
					<div><span>&nbsp;&nbsp;<a href="#">145封评价</a></span></div>
				</div>

				<!-- Short List Tags -->
				<div>
					<span class="label label-important"><a href="#">室外场地</a></span>&nbsp;
					<span class="label label-warning"><a href="#">收费停车场</a></span>&nbsp; 
					<span class="label label-info"><a href="#">场地多</a></span>
				</div>
				<!-- end short list -->

				<div class="intro">
					<p class="address"><small>地址: 西直门外大街45号</small></p>
					<p> 
						<span class="size"><small>环境：有大约30个篮球框</small></span> &nbsp;
						<span class="price"><small>价格: 室外场地免费</small></span> &nbsp;
						<span class="parking"><small>停车信息: 可收费停车</small></span>
					</p>
					<p class="description"><small>打篮球的人还是比较多的，都是学生，比较文明...</small></p>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span3">
				<a href="@routes.Court.view(2)"><img src="@routes.Assets.at("images/court.demo.jpeg")"
					alt="北京理工大学篮球场" /></a>
			</div>
			<div class="span9">
				<div>
					<p><a href="@routes.Court.view(2)" class="title">北京理工大学篮球场</a></p>
				</div>
				<div class="clear">
						<input class="star {split:4} required" type="radio" name="court-rating0" disabled="disabled" value="1"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="2"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="3"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="4"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="5"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="6"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="7"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="8"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="9"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="10"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="11" checked="checked"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="12"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="13"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="14"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="15"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="16"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="17"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="18"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="19"/>
					    <input class="star {split:4}" type="radio" name="court-rating0" disabled="disabled" value="20"/>
				</div>

				<br>
				<!-- Short List Tags -->
				<div>
					<span class="label label-important"><a href="#">室外场地</a></span>&nbsp;
					<span class="label label-warning"><a href="#">收费停车场</a></span>&nbsp; 
					<span class="label label-info"><a href="#">场地多</a></span>
				</div>
				<!-- end short list -->

				<div class="intro">
					<p class="address"><small>地址: 西直门外大街45号</small></p>
					<p> 
						<span class="size"><small>环境：有大约30个篮球框</small></span> &nbsp;
						<span class="price"><small>价格: 室外场地免费</small></span> &nbsp;
						<span class="parking"><small>停车信息: 可收费停车</small></span>
					</p>
					<p class="description"><small>打篮球的人还是比较多的，都是学生，比较文明...</small></p>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span3">
				<a href="@routes.Court.view(2)"><img src="@routes.Assets.at("images/court.default.png")"
					alt="北京理工大学篮球场" /></a>
			</div>
			<div class="span9">
				<div>
					<p><a href="@routes.Court.view(2)" class="title">北京理工大学篮球场</a></p>
				</div>
				<div class="clear">
						<input class="star {split:4} required" type="radio" name="court-rating1" disabled="disabled" value="1"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="2"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="3"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="4"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="5"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="6"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="7"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="8"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="9"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="10"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="11" checked="checked"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="12"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="13"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="14"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="15"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="16"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="17"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="18"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="19"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="20"/>
				</div>

				<br>
				<!-- Short List Tags -->
				<div>
					<span class="label label-important"><a href="#">室外场地</a></span>&nbsp;
					<span class="label label-warning"><a href="#">收费停车场</a></span>&nbsp; 
					<span class="label label-info"><a href="#">场地多</a></span>
				</div>
				<!-- end short list -->

				<div class="intro">
					<p class="address"><small>地址: 西直门外大街45号</small></p>
					<p> 
						<span class="size"><small>环境：有大约30个篮球框</small></span> &nbsp;
						<span class="price"><small>价格: 室外场地免费</small></span> &nbsp;
						<span class="parking"><small>停车信息: 可收费停车</small></span>
					</p>
					<p class="description"><small>打篮球的人还是比较多的，都是学生，比较文明...</small></p>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span3">
				<a href="@routes.Court.view(2)"><img src="@routes.Assets.at("images/court.default.png")"
					alt="北京理工大学篮球场" /></a>
			</div>
			<div class="span9">
				<div>
					<p><a href="@routes.Court.view(2)" class="title">北京理工大学篮球场</a></p>
				</div>
				<div class="clear">
						<input class="star {split:4} required" type="radio" name="court-rating1" disabled="disabled" value="1"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="2"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="3"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="4"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="5"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="6"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="7"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="8"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="9"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="10"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="11" checked="checked"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="12"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="13"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="14"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="15"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="16"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="17"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="18"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="19"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="20"/>
				</div>

				<br>
				<!-- Short List Tags -->
				<div>
					<span class="label label-important"><a href="#">室外场地</a></span>&nbsp;
					<span class="label label-warning"><a href="#">收费停车场</a></span>&nbsp; 
					<span class="label label-info"><a href="#">场地多</a></span>
				</div>
				<!-- end short list -->

				<div class="intro">
					<p class="address"><small>地址: 西直门外大街45号</small></p>
					<p> 
						<span class="size"><small>环境：有大约30个篮球框</small></span> &nbsp;
						<span class="price"><small>价格: 室外场地免费</small></span> &nbsp;
						<span class="parking"><small>停车信息: 可收费停车</small></span>
					</p>
					<p class="description"><small>打篮球的人还是比较多的，都是学生，比较文明...</small></p>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span3">
				<a href="@routes.Court.view(2)"><img src="@routes.Assets.at("images/court.default.png")"
					alt="北京理工大学篮球场" /></a>
			</div>
			<div class="span9">
				<div>
					<p><a href="@routes.Court.view(2)" class="title">北京理工大学篮球场</a></p>
				</div>
				<div class="clear">
						<input class="star {split:4} required" type="radio" name="court-rating1" disabled="disabled" value="1"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="2"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="3"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="4"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="5"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="6"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="7"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="8"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="9"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="10"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="11" checked="checked"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="12"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="13"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="14"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="15"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="16"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="17"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="18"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="19"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="20"/>
				</div>

				<br>
				<!-- Short List Tags -->
				<div>
					<span class="label label-important"><a href="#">室外场地</a></span>&nbsp;
					<span class="label label-warning"><a href="#">收费停车场</a></span>&nbsp; 
					<span class="label label-info"><a href="#">场地多</a></span>
				</div>
				<!-- end short list -->

				<div class="intro">
					<p class="address"><small>地址: 西直门外大街45号</small></p>
					<p> 
						<span class="size"><small>环境：有大约30个篮球框</small></span> &nbsp;
						<span class="price"><small>价格: 室外场地免费</small></span> &nbsp;
						<span class="parking"><small>停车信息: 可收费停车</small></span>
					</p>
					<p class="description"><small>打篮球的人还是比较多的，都是学生，比较文明...</small></p>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span3">
				<a href="@routes.Court.view(2)"><img src="@routes.Assets.at("images/court.default.png")"
					alt="北京理工大学篮球场" /></a>
			</div>
			<div class="span9">
				<div>
					<p><a href="@routes.Court.view(2)" class="title">北京理工大学篮球场</a></p>
				</div>
				<div class="clear">
						<input class="star {split:4} required" type="radio" name="court-rating1" disabled="disabled" value="1"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="2"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="3"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="4"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="5"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="6"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="7"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="8"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="9"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="10"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="11" checked="checked"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="12"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="13"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="14"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="15"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="16"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="17"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="18"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="19"/>
					    <input class="star {split:4}" type="radio" name="court-rating1" disabled="disabled" value="20"/>
				</div>

				<br>
				<!-- Short List Tags -->
				<div>
					<span class="label label-important"><a href="#">室外场地</a></span>&nbsp;
					<span class="label label-warning"><a href="#">收费停车场</a></span>&nbsp; 
					<span class="label label-info"><a href="#">场地多</a></span>
				</div>
				<!-- end short list -->

				<div class="intro">
					<p class="address"><small>地址: 西直门外大街45号</small></p>
					<p> 
						<span class="size"><small>环境：有大约30个篮球框</small></span> &nbsp;
						<span class="price"><small>价格: 室外场地免费</small></span> &nbsp;
						<span class="parking"><small>停车信息: 可收费停车</small></span>
					</p>
					<p class="description"><small>打篮球的人还是比较多的，都是学生，比较文明...</small></p>
				</div>
			</div>
		</div>

	</div>
	<!--end list-->

	<!-- start paging -->
	
	<!-- end paging -->
</div>
<!-- end listing-js -->

<div class="span3" id="side-section">
	<!-- 个人信息 -->
    <div class="module-n">
        <div class="row-fluid">
        	<div class="span12">
            	<button class="btn btn-success btn-block" type="button">发现球场</button>
            </div>
        </div>
    </div>
  	<!-- 个人信息结束 -->

</div>

}
