@(message: String)

@main(Messages("court")) {

<div class="span8 listing">

	<div id="breadcrumb">
		<ul class="breadcrumb">
		  <li><a href="#">北京</a> <span class="divider">/</span></li>
		  <li class="active">场地资讯</li>
		</ul>
	</div>

	<!-- page title with dropdown -->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span7 dropdown-results">
				<p>Showing 1 - 8 of 255 results</p>
			</div>
			<div class="span5">
				<select id="sort" name="sort">
					<option value="pmrank">Sort by Popularity</option>
					<option value="price">Sort by Price: Low to High</option>
					<option value="-price">Sort by Price: High to Low</option>
				</select>
			</div>
		</div>
	</div>
	<!-- end page title -->

	<!--start list-->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<a href="property.html"><img src="@routes.Assets.at("images/court.demo.jpeg")"
					alt="北京理工大学篮球场" /></a>
			</div>
			<div class="span9">
				<a href="property.html" class="prop-title">北京理工大学篮球场</a>
				<div class="intro">
					<p class="size"><em>环境：</em>有大约30个篮球框，可停车</p>
					<p class="price"><em>收费: </em>室外场地免费</p>
					<p class="description">打篮球的人还是比较多的，都是学生，比较文明...</p>
				</div>
				<!-- Short List Tags -->
				<span class="label label-important">室外场地</span>&nbsp;<span class="label label-warning">还不错</span>
				<!-- end short list -->
			</div>
		</div>
	</div>
	<!--end list-->

	<!-- start paging -->
	<div class="container-fluid">
		<div class="row-fluid" style="border: none;">
			<div class="span12">
				<div class="pagination pagination-centered">
					<ul>
						<li><a href="javascript:void(0)">« Prev.</a></li>
						<li><a href="javascript:void(0)">1</a></li>
						<li><a href="javascript:void(0)">2</a></li>
						<li><a href="javascript:void(0)">3</a></li>
						<li><a href="javascript:void(0)">4</a></li>
						<li><a href="javascript:void(0)">5</a></li>
						<li><a href="javascript:void(0)">6</a></li>
						<li><a href="javascript:void(0)">7</a></li>
						<li><a href="javascript:void(0)">8</a></li>
						<li><a href="javascript:void(0)">Next »</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end paging -->
</div>
<!-- end listing-js -->

}
