@(court: Court)

@styles ={
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/court.css")">
}

@scripts = {
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
}

@main(Messages("court"), null, styles, scripts) {
	
	<div class="span9">
		<div id="breadcrumb">
			<ul class="breadcrumb">
			  <li><a href="#">北京</a> <span class="divider">/</span></li>
			  <li><a href="#">朝阳区</a> <span class="divider">/</span></li>
			  <li class="active">@(court.name)</li>
			</ul>
		</div>

		<section class="court-info">
			<div class="box">
				<div class="row-fluid">
					<div class="span8">
						<div class="title">
							<h4>@(court.name)</h4>
						</div>
						<div class="rating">
							<div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
							<span>&nbsp;&nbsp;<a href="#">145封评价</a></span> | <span>人均: <strong>￥15元</strong></span>
						</div>
						<div class="information">
							<dl class="dl-horizontal">
							  <dt>地址：</dt>
							  <dd>@(court.address)</dd>
							  <dt>联系电话：</dt>
							  <dd>@(court.telephone)</dd>
							  <dt>场地信息：</dt>
							  <dd>室外场，塑胶场地</dd>
							  <dt>营业时间：</dt>
							  <dd>@(court.businesshours)</dd>
							  <dt>停车信息：</dt>
							  <dd>收费停车，15元/小时</dd>
							</dl>
						</div>
					</div>
					<div class="span4">
						<div>
							<img src="@routes.Assets.at("images/court.thumb.jpg")" style="width:88%" class="img-polaroid"/>
						</div>
					</div>				
				</div>

				<div class="row-fluid">
					<div class="span6">
						<div class="btn-group">
						  <button class="btn btn-info">去过(10)</button>
						  <button class="btn btn-success">想去(100)</button>
						</div>
					</div>
					<div class="span6">
						<div class="operation pull-right">
							<p class="text-center"><span><a href="#"><small>纠错/举报</small></a></span>&nbsp;|&nbsp;<span><a href="#"><small>分享</small></a></span></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="piclist">
				<h2>图片列表</h2>
				<div class="row-fluid">
					<div class="span3">
						<img src="@routes.Assets.at("images/court.thumb.jpg")" style="width:98%" class="img-polaroid"/>
					</div>
					<div class="span3">
						<img src="@routes.Assets.at("images/court.thumb.jpg")" style="width:98%" class="img-polaroid"/>
					</div>
					<div class="span3">
						<img src="@routes.Assets.at("images/court.thumb.jpg")" style="width:98%" class="img-polaroid"/>
					</div>
					<div class="span3">
						<img src="@routes.Assets.at("images/court.thumb.jpg")" style="width:98%" class="img-polaroid"/>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="description">
				<ul class="nav nav-pills">
				  <li class="active"><a href="#home" data-toggle="tab">评论(123)</a></li>
				  <li><a href="#desc" data-toggle="tab">场地简介</a></li>
				</ul>
			</div>
		</section>
	</div>

	<div class="span3" id="side-section">
		<div class="module-n">
	        <div class="row-fluid">
	        	<div class="span12" id="court_location">
	            </div>
	        </div>
	    </div>

		<div class="module-top normal">活动信息 · <a href="#">所有活动</a></div>
	    <div class="module">
	    	<div class="row-fluid">
	    		<div class="span12">
	    		</div>
	    	</div>
	    </div>

	    <div class="module-top normal">常来的朋友 · <a href="#">所有朋友</a></div>
	    <div class="module">
	    	<div class="row-fluid">
	    		<div class="span12">
	    		</div>
	    	</div>
	    </div>
	</div>

}

<script type="text/javascript">
var map = new BMap.Map("court_location");
// 创建地址解析器实例
var myGeo = new BMap.Geocoder();
// 将地址解析结果显示在地图上,并调整地图视野
myGeo.getPoint("朝阳区朝阳公园", function(point){
  if (point) {
    map.centerAndZoom(point, 16);
    map.addOverlay(new BMap.Marker(point));
  }
}, "北京市");

</script>