@import "common";

.box { 
  // color: saturate(@base, 5%);
  min-height: 10px;
  border: 1px solid @base;
  padding-bottom: 10px;
  // border-color: lighten(@base, 30%);
  .row-fluid { 
  	margin-left: 10px; 
  	margin-top: 5px;
	.operation {
		margin-right: 15px;
	}
  }

  .dl-horizontal {
	margin-top: 5px;
	dt { 
	  	width: 70px;
	  	text-align: left;
	}
	dd { 
	  	margin-left: 90px;
	}
  }
}

.piclist {
	margin-top: 10px;
	.row-fluid {
		margin-top: 5px;
	}
	h2 {
		font: 15px Arial,Helvetica,sans-serif;
		color: #072;
	}
}

.description {
	margin-top: 10px;
}

#court_location {
	height: 230px;
}
