@(message: String, posts: Seq[Post] = Nil, contacts: Seq[User] = Nil, recommendUsers: Seq[User] = Nil)
@styles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/postkit.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/post.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/listpanel.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/popup.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/messagebox.css")">
}
@scripts = {
    <script src='@routes.Assets.at("javascripts/jquery.uploadify-3.1.min.js")' type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/postkit.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/post.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/popup.js")" type="text/javascript"></script>
}


@main("Welcome to CGLQ",null,styles, scripts) {
    <div id="main-container" class="container">
        <div id="postModal" class="hide"></div>
        <div id="messageModal" class="hide" style="width:400px"></div>
        <div id="avatarModal" class="postkit-wrapper hide"></div>
        <div class="row-fluid">
            <div style="float:right;margin-left:10px">@views.html.post.avatar(User.findSample.id,"images/avatar_mini.png")</div>
            <div style="float:right;margin-left:10px"><a id="newBtn" class="btn"><i class="icon-pencil"></i>&nbsp;Share</a></div>
            <div style="float:right;"><a id="messageBtn" class="btn messagebox-active">3</a></div>
        </div>
        <div class="row-fluid" style="background-color:#fff;min-height: 700px;padding-top: 20px">
            <div class="span3" style="padding-left:10px;padding-right:75px;">
                <div style="width:230px;border:1px solid #ccc;border-bottom:0;cursor:pointer">
                    <img src="@routes.Assets.at("images/avatar_large.png")"></img>
                </div>
                <div style="width:220px;background-color:#f8f8f8;border:1px solid #ccc;padding:5px">
                    <div>
                        @for(i <- 0 to 10){
                            <a target="_top" style="text-decoration: none!important;cursor:pointer">
                                <div class="leftpanel-listrow @("leftpanel-listall".when(i == 0))">
                                    <span>@if(i==0){全部}else{圈子@i}</span>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div id="post-list" class="span6">
                @for(p <- posts) {
                    @views.html.post.post(p)
                }
            </div>
            <div id="right-panel" class="pull-right rightpanel">
                <div id="recommend-list">
                    @views.html.post.recommendList("推荐的人",recommendUsers)
                </div>
                <div id="contact-list">
                    @views.html.post.contactList("已关注的人",contacts)
                </div>
            </div>
        </div>
    </div>
    <script>

        $('#messageModal').popup({
            anchor:'messageBtn',
            url:'/notifications/list'
        });
        $('#messageBtn').click(function(){
            $('#messageModal').popup('show');
        });
        $('#postModal').postkit({
            id:'newPost',
            anchor:'newBtn',
            showtype: 'popup',
            afterPost: function(data){
                $('#post-list').prepend(data);
                var newPost = $('#post-list:first');
                photoInitHeightHandler(newPost.find('.post-photo'));
                postHoverHandler(newPost.find('.post-row'));
                avatarHoverHandler(newPost.find('.avatar-icon'));
                postDelBtnClickHandler(newPost.find('.post-delbtn'));
                postExpandBtnClickHandler(newPost.find('.post-message-min'));
                commentNewInputKeydownHandler(newPost.find('.comments-newinput-text'));
                commentNoInputClickHandler(newPost.find('.comments-noinput-text'));
                commentAddBtnClickHandler(newPost.find('.comment-addbtn'));
                commentCancelBtnClickHandler(newPost.find('.comment-cancelbtn'));
            }
        });

        $('#newBtn').click(function(){
            $('#postModal').postkit('show');
            return false;
        });
        $('#avatarModal').mouseleave(function(evt){
            $('#avatarModal').hide();
        });
        photoInitHeightHandler($('.post-photo'));
        rightPanelHoverHandler($('#recommend-list'));
        rightPanelHoverHandler($('#contact-list'));
        rightPanelRowHoverHandler($('.rightpanel-li'));
        avatarHoverHandler($('#main-container').find('.avatar-icon'));
        likeBtnClickHandler($('.post-btn-likes'));
        postHoverHandler($('.post-row'));
        postDelBtnClickHandler($('.post-delbtn'));
        postExpandBtnClickHandler($('.post-message-min'));

        commentsMoreClickHandler($('.comments-num-show'));
        commentNewInputKeydownHandler($('.comments-newinput-text'));
        commentNoInputClickHandler($('.comments-noinput-text'));
        commentAddBtnClickHandler($('.comment-addbtn'));
        commentCancelBtnClickHandler($('.comment-cancelbtn'));
        commentHoverHandler($('#post-list .comment'));
        commentDelBtnClickHandler($('#post-list .comment-delbtn'));
        commentReplyClickHandler($('#post-list .comment-reply'));


        initComet();

        function initComet(){
            var cometFrame = $('<iframe id="cometFrame"></iframe>');
            cometFrame.css('position','absolute');
            cometFrame.css('top','-100px');
            cometFrame.css('left','-100px');
            cometFrame.width(1);
            cometFrame.height(1);
            $('body').append(cometFrame);
            var url = "/streams/news?callback={cb}";
            var t = new Date().getTime();
            var content = '<body onload="var d=document,s=d.createElement(\'script\');s.src=\''
                +url.replace(/{cb}/,'parent.window.alert')
                +'\';d.getElementsByTagName(\'head\')[0].appendChild(s)"></body>';
            var doc = cometFrame[0].contentWindow.document;
            doc.open().write(content);
            doc.close();
        }
    </script>

}
