@(message: String, posts: Seq[Post] = Nil, contacts: Seq[User] = Nil, recommendUsers: Seq[User] = Nil)
@styles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/postkit.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/post.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/listpanel.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/popup.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/messagebox.css")">
}
@scripts = {
    <script src='@routes.Assets.at("javascripts/jquery.uploadify-3.1.min.js")' type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/postkit.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/post.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/popup.js")" type="text/javascript"></script>
}


@main("Welcome to CGLQ",null,styles, scripts) {
    <div id="main-container" class="container">
        <div id="postModal" class="hide"></div>
        <div id="messageModal" class="hide" style="width:400px"></div>
        <div id="avatarModal" class="avatar-modal hide"></div>
        <div id="postOptionModal" class="hide post-optionModal">
            <div action="edit"><div>修改信息</div></div>
            <div action="delete"><div>删除信息</div></div>
            <div action="lock"><div>锁定信息</div></div>
        </div>
        <div class="row-fluid">
            <div style="float:right;margin-left:10px">@views.html.post.avatar(User.findSample.id,"images/avatar_mini.png")</div>
            <div style="float:right;margin-left:10px"><a id="newBtn" class="btn"><i class="icon-pencil"></i>&nbsp;Share</a></div>
            <div style="float:right;"><a id="messageBtn" class="btn messagebox-active">3</a></div>
        </div>
        <div class="row-fluid" style="background-color:#fff;min-height: 700px;padding-top: 20px">
            <div class="span3 leftpanel">
                <div class="account-container">
                
                    <div class="account-avatar">
                        <img src="@routes.Assets.at("images/avatar_large.png")" alt="" class="thumbnail" />
                    </div> <!-- /account-avatar -->
                    <div class="account-details">
                        <span class="account-name">Rod Howard</span>
                        <span class="account-role">Administrator</span>
                        <span class="account-actions">
                            <a href="javascript:;">Profile</a> |
                            <a href="javascript:;">Edit Settings</a>
                        </span>
                    </div> <!-- /account-details -->
                </div> <!-- /account-container -->

                <br>
                <div class="leftpanel-group">
                    @for(i <- 0 to 10){
                        <a target="_top">
                            <div class="leftpanel-listrow @("leftpanel-listall".when(i == 0))">
                                <span>@if(i==0){全部}else{圈子@i}</span>
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div id="post-list" class="span6">
                @for(p <- posts) {
                    @views.html.post.post(p)
                }

            </div>
            <div id="right-panel" class="pull-right rightpanel">
                <div id="recommend-list">
                    @views.html.post.recommendList("推荐的人",recommendUsers)
                </div>
                <div id="contact-list">
                    @views.html.post.contactList("已关注的人",contacts)
                </div>
            </div>
        </div>
    </div>
    <script>
        var postOptionModal = $('#postOptionModal');
        $('#messageModal').popup({
            anchor:'messageBtn',
            url:'/notifications/list'
        });
        $('#messageBtn').click(function(){
            $('#messageModal').popup('show');
        });

        $('#postModal').popup({
            anchor:'newBtn',
            url:'/posts/postkit?id=postModal'
        });
        $('#newBtn').click(function(){
            $('#postModal').popup('show');
        });
        $('#avatarModal').mouseleave(function(evt){
            $('#avatarModal').hide();
        });

        photoInitHeightHandler($('.post-photo'));
        avatarHoverHandler($('#main-container').find('.avatar-icon'));
        likeBtnClickHandler($('.post-btn-likes'));
        postHoverHandler($('.post-row'));
        postDelBtnClickHandler($('.post-delbtn'));
        postExpandBtnClickHandler($('.post-message-min'));
        commentNewInputKeydownHandler($('.comments-newinput-text'));
        commentNoInputClickHandler($('.comments-noinput-text'));
        commentAddBtnClickHandler($('.comment-addbtn'));
        commentCancelBtnClickHandler($('.comment-cancelbtn'));
        commentsMoreClickHandler($('.comments-num-show'));
        commentHoverHandler($('#post-list .comment'));
        commentDelBtnClickHandler($('#post-list .comment-delbtn'));
        commentReplyClickHandler($('#post-list .comment-reply'));

        rightPanelHoverHandler($('#recommend-list'));
        rightPanelHoverHandler($('#contact-list'));
        rightPanelRowHoverHandler($('.rightpanel-li'));

//        initComet();
        postOptionClickHandler($('.post-option'),postOptionModal);
        postOptionModalInit(postOptionModal);

        function test(s){
            alert(s);
        }

        function initComet(){
            var cometFrame = $('<iframe id="cometFrame"></iframe>');
            cometFrame.css('position','absolute');
            cometFrame.css('top','-100px');
            cometFrame.css('left','-100px');
            cometFrame.width(1);
            cometFrame.height(1);
            $('body').append(cometFrame);
            var url = "http://localhost:9000/streams/comet?callback={cb}";
            var cb = "parent.test";
            var t = new Date().getTime();
            var content = '<body onload="var d=document,s=d.createElement(\'script\');s.src=\''
                +url.replace(/{cb}/,cb)
                +'\';d.getElementsByTagName(\'head\')[0].appendChild(s)"></body>';
            var doc = cometFrame[0].contentWindow.document;
            doc.open().write(content);
            doc.close();
        }
    </script>

}
