@(title: String, nav: String = "", scripts: Html = Html(""))(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>

<html>
<head>
<title>@title | @Messages("title")</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-plus.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/rateit.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/postkit.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/post.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.rateit.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/postkit.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.scrollUp.min.js")" type="text/javascript"></script>
@scripts
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!--<a class="brand" href="#">草根篮球</a>-->
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="@routes.Application.index">@Messages("home")</a></li>
						<li class=""><a href="#">@Messages("friends")</a></li>
						<li class=""><a href="#">@Messages("events")</a></li>
						<li class=""><a href="@routes.Court.index">@Messages("court")</a></li>
						<li class=""><a href="#">@Messages("brand")</a></li>
						<li class=""><a href="#">@Messages("store")</a></li>
						<li class=""><a href="#">@Messages("ask")</a></li>
					</ul>
				</div>
				<div class="btn-group pull-right">
					@subjectPresentOr() {
					@defining(Application.getLocalUser(session())) { user => <a
						class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i
						class="icon-user"></i> @user.name <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="@routes.Application.profile()">@Messages("playauthenticate.navigation.profile")</a></li>
						<li><a href="@routes.Account.link()">@Messages("playauthenticate.navigation.link_more")</a></li>
						<li class="divider"></li>
						<li><a
							href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i
								class="icon-off"></i>
								@Messages("playauthenticate.navigation.logout")</a></li>
					</ul>
					} }{ 
						<a href="@routes.Application.login()" class="btn btn-primary btn-mini @(" disabled".when(nav=="login"))">@Messages("playauthenticate.navigation.login")</a> &nbsp;
						<a href="@routes.Application.signup()" class="btn btn-primary btn-mini @(" disabled".when(nav=="login"))">@Messages("playauthenticate.navigation.signup")</a>
					}
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		@if(flash.contains(Application.FLASH_ERROR_KEY)) {
	      <div class="alert alert-error">
	      	@flash().get(Application.FLASH_ERROR_KEY)
	      </div>
	    }
	    @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
	      <div class="alert alert-success">
	      	@flash().get(Application.FLASH_MESSAGE_KEY)
	      </div>
	    }
		
		<div class="row-fluid">
			@content
		</div>
	</div>

	<script type="text/javascript">
	 $(function () {
        $.scrollUp({
          scrollName: 'scrollUp', // Element ID
          topDistance: '300', // Distance from top before showing element (px)
          topSpeed: 300, // Speed back to top (ms)
          animation: 'fade', // Fade, slide, none
          animationInSpeed: 400, // Animation in speed (ms)
          animationOutSpeed: 400, // Animation out speed (ms)
          scrollText: '@Messages("scrollup")', // Text for element
          activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
      });
	</script>
</body>
</html>
